<div class="headerContainer">
    <div class="photoShadow">
        <img src="assets/img/photo-shadows.png" alt="" srcset="" />
    </div>
    <div class="photo"><img src="assets/img/me.png" alt="photo" /></div>
    <div class="photoShape"><img src="assets/img/Vector.png" /></div>
    <div class="headline">
        <div class="leftHeadline">I am</div>
        <div class="rightheadline">
            <div class="headlineName">Eduard Mayer</div>
            <div class="headlineJob">FRONTEND DEVELOPER</div>
        </div>
    </div>
    <div class="letsTalkButton"><a href="#contact">Let's talk!</a></div>
    <div class="contactHeadline">
        <img src="assets/img/Vector1.png" />
        <a class="contactIcon" href="https://github.com/EduardMayer"><img src="assets/img/GithubButton.png" /></a>
        <a class="contactIcon" href="mailto:eduardmayer1@web.de"><img src="assets/img/EmailButton.png" /></a>
        <a class="contactIcon" href="https://www.linkedin.com/in/eduard-mayer-4a6202257/"><img
                src="assets/img/LinkedinButton.png" /></a>
        <div class="emailAdress">
            <a href="mailto:eduardmayer1@web.de">eduardmayer1@web.de</a>
        </div>
    </div>
    <div class="scrollDownContainer">
        Scroll down <img src="assets/img/arrow-down-line.png" />
    </div>
    
</div>