<div class="headerContainer">
    <div class="photoShadow">
        <img src="assets/img/photo-shadows.png" alt="" srcset="" />
    </div>
    <div class="photo"><img src="assets/img/me2.png" alt="photo" /></div>
    <div class="photoShape"><img src="assets/img/Vector.png" /></div>
    <div class="headline">
        <div class="leftHeadline">I am</div>
        <div class="rightheadline">
            <div class="headlineName">Eduard Mayer</div>
            <div class="headlineJob">FRONTEND DEVELOPER</div>
        </div>
    </div>
    <div class="letsTalkButton"><a href="#contact">Let's talk!</a></div>
    <div class="contactHeadline">
        <div class="contactBorderLine"><img src="assets/img/Vector1.png" /></div>
        <div class="contactIconBox">
            <a class="contactIcon" href="https://github.com/EduardMayer" target="_blank"><img src="assets/img/GithubButton.png"/></a>
            <a class="contactIcon" href="mailto:info@mayer-eduard.de"><img src="assets/img/EmailButton.png" /></a>
            <a class="contactIcon" href="https://www.linkedin.com/in/eduard-mayer-4a6202257/" target="_blank"><img
                src="assets/img/LinkedinButton.png" /></a>
        </div>
        <div class="emailAdress">
            <a href="mailto:eduardmayer1@web.de">info@mayer-eduard.de</a>
        </div>
    </div>
    <div class="scrollDownContainer">
        Scroll down <img src="assets/img/arrow-down-line.png" />
    </div>
    
</div>