<div class="footerContainer">
    <div class="footerLineContainer">
        <div class="initialsContainer">
            <img routerLink="/" src="assets/img/logo-white.png">
        </div>
        <div><a href="">Impressum</a></div>
    </div>
    <div class="copyRightContainer">
        <span>
            <p>© Eduard Mayer 2023</p>
        </span>
    </div>
    <div class="contactFooter">
        <a class="contactIcon" href="https://github.com/EduardMayer"><img src="assets/img/GithubButton.png" /></a>
        <a class="contactIcon" href="mailto:eduardmayer1@web.de"><img src="assets/img/EmailButton.png" /></a>
        <a class="contactIcon" href="https://www.linkedin.com/in/eduard-mayer-4a6202257/"><img
                src="assets/img/LinkedinButton.png" /></a>
    </div>
</div>