<div class="navbarContainer" >
    <div class="initialsContainer">
        <a routerLink="/" ><img src="assets/img/logo-white.png" alt="Logo"></a>
    </div>
    <div class="navbarLinkContainer">
        <a href="#aboutMe">About me</a>
        <a href="#mySkills">Skills</a>
        <a href="#portfolio">Portfolio</a>
    </div>
    <div class="burgerMenu">
        <div class="burgerIcon" (click)="toggleNav()"><img src="assets/img/burger.png" alt="" srcset=""></div>
    
    </div>
    
</div>
<div class="burgerLinks">
    <a href="#aboutMe" (click)="toggleNav()">About me</a>
    <a href="#mySkills" (click)="toggleNav()">Skills</a>
    <a href="#portfolio" (click)="toggleNav()">Portfolio</a>
    <a href="#contact" (click)="toggleNav()">Contact</a>
</div>
