<div class="aboutMeContainer" id="aboutMe">
    <div class="backgroundShadow">
        <img src="assets/img/purple1.png" alt="">
    </div>
    <div class="aboutMeDescription">
        <h2>About me</h2>
        <span>
            <p>I'm an ambitious frontend developer based in Stuttgart, Germany fueled by a passion for creating
                captivating
                digital interfaces.
                Proficient in HTML, CSS and JavaScript, I bring a fresh perspective and a determination to learn and
                grow.
                My goal is to contribute my skills and enthusiasm to a dynamic team, crafting user-friendly websites
                that
                integrate functionality with eye-catching design.</p>
        </span>
        
        <div data-aos="fade-right"
        data-aos-offset="400"
        data-aos-easing="ease-in-sine" class="bulbContainer">
            <div><img src="/assets/img/bulbdesktop.png" alt="" srcset=""></div>
            <span>I have experience creating various web and business apps and OOP-based jump & run games, all developed
                using relevant technologies.
                With an eye for detail, I place significant importance on accurately implementing designs.</span>
        </div>

        <div data-aos="fade-right"
        data-aos-offset="400"
        data-aos-easing="ease-in-sine" class="puzzleContainer">
            <div><img src="/assets/img/puzzledesktop.png" alt="" srcset=""></div>
            <span>With my professional experience, I have learned to maintain clear communication for smooth teamwork
                and efficient workflows.</span>
        </div>
    </div>

    <div class="aboutMePhotoContainer">
        <div  class="aboutMePhoto">
            <img src="assets/img/me.png" alt="" srcset="">
        </div>
        <div class="aboutMeBorderRight"></div>
    </div>


</div>