<div class="aboutMeContainer" id="aboutMe">
    <div class="backgroundShadow">
        <img src="assets/img/purple1.png" alt="">
    </div>
    <div class="aboutMeDescription">
        <h2>About me</h2>
        <span>
            <p>
                "I am an ambitious frontend developer living in Visbek, Germany. My goal is to realize my passion for
                web application development. I have solid knowledge in HTML, CSS and JavaScript and bring a high level
                of curiosity and willingness to learn. My goal is to bring my skills and determination to a team to
                develop user-friendly websites.</p>
        </span>

        <div data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine" class="bulbContainer">
            <div><img src="assets/img/bulbdesktop.png" alt="" srcset=""></div>
            <span>"I am experienced in building various websites and business applications, as well as developing a
                jump-and-run game with object-oriented programming. I pay a lot of attention to details, and for me,
                it's important to stick to the template and get the best out of it."</span>
        </div>

        <div data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine" class="puzzleContainer">
            <div><img src="assets/img/puzzledesktop.png" alt="" srcset=""></div>
            <span>"Through my work experience, I have developed the ability to communicate effectively with colleagues and
                complete tasks smoothly even in stressful situations."</span>
        </div>
    </div>

    <div class="aboutMePhotoContainer">
        <div class="aboutMePhoto">
            <img src="assets/img/me2.png" alt="" srcset="">
        </div>
        <div class="aboutMeBorderRight"></div>
    </div>


</div>